<%= render "reusable_html/navbar" %>

<%= render "reusable_html/banner" %>

<div class="lists-container">

  <div class="info-lists">
  </div>

  <div class="lists-grid">
    <% @lists.each do |list| %>
      <%= link_to list_path(list.id) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.picture_url %>)">
            <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
