<%= render "reusable_html/navbar", list: @list %>

<%= render "reusable_html/banner", list: @list %>

<div class="lists-container">

  <div class="lists-grid">
    <% @movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(movie: movie) %>
      <div class="card-movie">
        <div class="poster-movie">
          <%= image_tag "https://image.tmdb.org/t/p/w400#{movie.poster_url}", alt: "#{movie.title} poster" %>
        </div>
        <div class="main-info-movie">
          <h4><%= movie.title %></h4>
          <p><%= movie.rating %> ⭐️</p>
        </div>
        <hr>
        <div class="movie-overview">
          <p><%= movie.overview %></p>
        </div>
        <hr>
        <div class="footer-movie">
          <p>"<%= bookmark.comment %>"</p>
          <%= link_to bookmark_path(bookmark.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>

<div class="list-reviews">
  <div class="upload-a-review">
    <%= render "form_review" %>
  </div>
  <div class="show-reviews">
    <h4>Reviews</h4>
    <hr>
    <% @reviews.each do |review| %>
      <div class="d-flex">
        <h4><%= review.rating %> ⭐️ | </h4>
        <p><%= review.content %></p>
      </div>
    <% end %>
  </div>
</div>
